<aside class="dark settings">
    <h3 class="shadow">Settings</h3>
    <field-settings field="newForm.settingsField"></field-settings>
</aside>
<main class="createForm">

    <section class="form light">
        <header class="add">
            <h2 field-editable value="newForm.form.title" initial="New Form"></h2>
            <p class="slight" field-editable value="form.description" initial="Form description, click here to edit"></p>
        </header>
        <ul dnd-list="newForm.form.fields">
            <li ng-repeat="field in newForm.form.fields" dnd-draggable="field" dnd-moved="newForm.form.fields.splice($index, 1)" dnd-effect-allowed="move" dnd-selected="newForm.selected = item" ng-class="{'fullWidth': field.fullWidth, 'halfWidth': !field.fullWidth}">
                <field options="field" settings="newForm.feildSettings(field)"></field>
            </li>
        </ul>

        <article class="modalOpen" ng-class="{active: newForm.addingField}">
            <button ng-click="newForm.startAddingField()" class="trigger newField">New question!</button>
            <form class="hide outline" name="newfield" ng-submit="newForm.newField()">
                <h3>New Question</h3>
                <input type="text" name="questiontext" ng-model="newForm.newQuestion.text" class="outline" ng-class="{'error': newForm.newQuestion.submitted && newForm.newQuestion.text === ''}" autofocus="autofocus" placeholder="Ask a question" />
                <label for="type">What type of answer do you want?</label>
                <custom-select target="newForm.newQuestion.type" options="[{value: 'smallText', text:'Small text'}, {value: 'largeText', text:'Large text'}, {value:'number', text: 'Number'}, {value:'currency', text: 'Currency'},{value: 'date', text:'Date'},{value: 'boolean', text:'Yes / No'},{value: 'select', text: 'Multiple choice'}, {value: 'dropdown', text: 'Dropdown'},{value:'email', text: 'Email Address'}]"></custom-select>
                <div ng-if="newForm.newQuestion.type === 'select' || newForm.newQuestion.type === 'dropdown'" class="options">
                    <label>Options:</label>
                    <input ng-repeat="option in newForm.newQuestion.options track by $index" type="text" placeholder="Answer..." ng-model="newForm.newQuestion.options[$index]" ng-keydown="newForm.continueArray()" class="outline" />
                    <input name="multi" type="checkbox" id="multi" ng-model="newForm.newQuestion.allowMultiple" ng-if="newForm.newQuestion.type !== 'dropdown'">
                    <label for="multi" class="checkbox" ng-if="newForm.newQuestion.type !== 'dropdown'">Allow the user to select multiple</label>
                </div>
                <textarea name="help" ng-model="newForm.newQuestion.help" placeholder="Add instructions" class="outline"></textarea>
                <div>
                    <input type="checkbox" name="fullWidth" id="fullWidth" ng-model="newForm.newQuestion.fullWidth" />
                    <label for="fullWidth" class="checkbox">Big field</label>
                </div>
                <div>
                    <input type="checkbox" name="required" id="required" ng-model="newForm.newQuestion.required" />
                    <label for="required" class="checkbox">Required?</label>
                </div>
                <div>
                    <button type="submit" ng-click="newForm.newQuestion.submitted=true">Create</button>
                    <button class="secondary" ng-click="newForm.cancelAddingField()">Cancel</button>
                </div>
            </form>
        </article>


    </section>


</main>
