if (!user)
  ul
    li
      a(href="/users/register", title="Register") Register
    li
      a(href="/users/login", title="Login") Login
else
  ul
    li
      a(href="/users/home", title="Your account") Hello #{user.firstName}
    li
      a(href="/users/logout", title="Logout") Logout
