<div ng-switch="options.type" ng-click="settings(options)" class="field">

    <label ng-class="{required: options.required}">{{options.text}}</label>
    <textarea ng-switch-when="largeText" ng-required="options.required" disabled="disabled">Big Text Field</textarea>
    <input ng-switch-when="number" type="number" ng-required="options.required" disabled="disabled" value="986" />
    <input ng-switch-when="currency" type="currency" ng-required="options.required" disabled="disabled" value="£12.50" />
    <input ng-switch-when="date" type="date" ng-required="options.required" disabled="disabled" value="12-02-2016" />
    <input ng-switch-when="email" type="email" ng-required="options.required" disabled="disabled" value="hello@montydawson.co.uk" />
    <input type="radio" ng-switch-when="boolean" name="{{options.text}}" id="{{options.text}}Yes" />
    <label ng-switch-when="boolean" class="checkbox" for="{{options.text}}Yes">{{options.yes}}</label>
    <input type="radio" ng-switch-when="boolean" name="{{options.text}}" id="{{options.text}}No" />
    <label ng-switch-when="boolean" class="checkbox" for="{{options.text}}No">{{options.no}}</label>
    <div ng-switch-when="select" ng-repeat="option in options.options track by $index">
        <input ng-if="options.allowMultiple && option !=='' && String(option)!='undefined'" type="checkbox" id="{{option + $index}}" />
        <input ng-if="!options.allowMultiple && option !=='' && String(option)!='undefined'" type="radio" id="{{option + $index}}" name="{{options.text}}" />
        <label class="checkbox" for="{{option + $index}}">{{ option }}</label>
    </div>
    <div ng-switch-when="dropdown" ng-click="settings(options)">
        <custom-select target="" options="options.options"></custom-select>
    </div>
    <input ng-switch-default type="text" ng-required="options.required" disabled="disabled" value="Small Text Field" />
    <p class="slight">{{options.help}}</p>
</div>
