<section class="settingsConfig">
    <form ng-submit="sendVerification()" ng-if="!config.beingVerified && !config.verified">
        <label>Email for form responses:</label>
        <input type="email" ng-model="config.email" id="email" class="outline white" placeholder="email@example.com" autocomplete="off" required="required" />
        <button type="submit" ng-disabled="config.email.length < 3 || config.requestSent" class="white ">Verify Email</button>
    </form>
    <form ng-submit="checkVerificationCode()" ng-if="config.beingVerified && !config.verified">
        <label>Verification code:</label>
        <input type="text" ng-model="config.verificationCode" id="verificationCode" class="outline white" maxlength="8" minlength="8" placeholder="Code" required="required" />
        <button type="submit" class="white primary" ng-disabled="!config.verificationCode">Submit code</button>
        <button type="button" ng-click="cancel()" class="white">Cancel</button>
    </form>
    <p ng-if="config.email && config.verified">Completed forms will be sent to: <strong>{{config.email}}</strong></p>
    <button type="button" ng-if="config.email && config.verified" ng-click="cancel()" class="white">Change email address</button>
<div class="padded">
    <label>Format of completed forms:</label>
    <custom-select target="config.format" options="[{value: 'pdf', text:'PDF document'}, {value: 'csv', text:'CSV file'}, {value:'txt', text: 'Plain text in email'}]"></custom-select>
  </div>
    <div class="padded">
        <label>Number of submissions (max 20):</label>
        <input class="outline white" type="number" max="20" min="1" ng-model="config.submissions" />
    </div>
    <div class="padded" ng-if="config.email && config.verified">
        <button ng-click="saveForm()" class="white">Save form to edit later</button>
        <button ng-click="submitForm()" class="primary white">Create your form!</button>
    </div>

</section>
