<section class="settingsStyle">
    <p>Choose a theme:</p>
    <div class="themeSelector">
        <div ng-repeat="theme in themes track by $index" class={{theme.class}} data-name="{{theme.name}}" ng-click="setTheme(theme)">
        </div>
    </div>
    <p>Choose a font type:</p>
    <input type="radio" id="fontTypeSerif" name="fontType" ng-model="objectstyle.font" value="serif" class="light" />
    <label for="fontTypeSerif">Serif</label>
    <input type="radio" id="fontTypeSansSerif" name="fontType" ng-model="objectstyle.font" value="sans-serif" class="light" />
    <label for="fontTypeSansSerif">Sans Serif</label>
</section>
