extends base
block content
  body.slightGradient
    nav.top.absolute
      .container
        a(href="/", title="Home").homeLink FormsTwenty
        include ../includes/_headerLinks.pug
    block content

    include ../includes/_footer.pug
