extends layouts/form
block content
  body(ng-app="app")
    div(ng-controller="NewFormCtrl as newForm")
      aside.blue.settings
        nav
          ul
            li(ng-class="{active: newForm.settings==='field'}", ng-click="newForm.setSettings('field')") Field
            li(ng-class="{active: newForm.settings==='style'}", ng-click="newForm.setSettings('style')") Style
            li(ng-class="{active: newForm.settings==='config'}", ng-click="newForm.setSettings('config')") Config
        field-settings(ng-if="newForm.settings==='field'", field='newForm.settingsField', delete='newForm.removeField()')
        settings-style(ng-if="newForm.settings==='style'", objectstyle='newForm.form.style', themes='newForm.availableThemes')
        settings-config(ng-if="newForm.settings==='config'", objectconfig='newForm.form.config', sendverification='newForm.sendVerificationEmail()', checkverification='newForm.checkVerificationCode()', save="newForm.saveForm(true)", submit="newForm.submitForm()")
      main.createForm
        section.form(ng-class="newForm.form.style.font + ' ' + newForm.form.style.class")
          header.add
            h2(field-editable='', value='newForm.form.name', initial='New Form')
            p.slight(field-editable='', value='newForm.form.description', initial='Form description, click here to edit')
          ul(dnd-list='newForm.form.fields')/f
            li(ng-repeat='field in newForm.form.fields', dnd-draggable='field', dnd-moved='newForm.form.fields.splice($index, 1)', dnd-effect-allowed='move', dnd-selected='newForm.selected = item', ng-class="{'fullWidth': field.fullWidth, 'halfWidth': !field.fullWidth}")
              field(options='field', settings='newForm.feildSettings(field)')
          article.modalOpen(ng-class='{active: newForm.addingField}')
            button.trigger.newField(ng-click='newForm.startAddingField()') New question!
            form.hide.outline(name='newfield', ng-submit='newForm.newField()')
              input.outline(type='text', name='questiontext', ng-model='newForm.newQuestion.text', ng-class="{'error': newForm.newQuestion.submitted && newForm.newQuestion.text === ''}", autofocus='autofocus', placeholder='Ask a question')
              label(for='type') What type of answer do you want?
              custom-select(target='newForm.newQuestion.type', options="[{value: 'smallText', text:'Small text'}, {value: 'largeText', text:'Large text'}, {value:'number', text: 'Number'}, {value:'currency', text: 'Currency'},{value: 'date', text:'Date'},{value: 'boolean', text:'Yes / No'},{value: 'select', text: 'Multiple choice'}, {value: 'dropdown', text: 'Dropdown'},{value:'email', text: 'Email Address'}]")
              .options(ng-if="newForm.newQuestion.type === 'select' || newForm.newQuestion.type === 'dropdown'")
                label Options:
                input.outline(ng-repeat='option in newForm.newQuestion.options track by $index', type='text', placeholder='Answer...', ng-model='newForm.newQuestion.options[$index]', ng-keydown='newForm.continueArray()')
                input#multi(name='multi', type='checkbox', ng-model='newForm.newQuestion.allowMultiple', ng-if="newForm.newQuestion.type !== 'dropdown'")
                label.checkbox(for='multi', ng-if="newForm.newQuestion.type !== 'dropdown'") Allow the user to select multiple
              textarea.outline(name='help', ng-model='newForm.newQuestion.help', placeholder='Add instructions')
              div
                input#fullWidth(type='checkbox', name='fullWidth', ng-model='newForm.newQuestion.fullWidth')
                label.checkbox(for='fullWidth') Big field
              div
                input#required(type='checkbox', name='required', ng-model='newForm.newQuestion.required')
                label.checkbox(for='required') Required?
              div
                button(type='submit', ng-click='newForm.newQuestion.submitted=true') Create
                button.secondary(ng-click='newForm.cancelAddingField()') Cancel



    script(src="bundles/newForm.js")
