extends layouts/base
block content
  body
    nav.top
      .container
        include ./includes/_headerLinks.pug
    header
      h1.shadow Forms Twenty
      a(href="create", title="Create Form").fakeButton.accent Create Form
