extends layouts/base
block content
  body
    nav.top.absolute
      .container
        include ./includes/_headerLinks.pug
    header.slightGradient
      h1.shadow= user.firstName
      a(href="/create", title="Create Form").fakeButton.accent Create Form
