@import 'components/_forms';
@import 'components/_animation';
@import 'components/_formThemes';
select,
textarea {
    display: block;
    width  : 90%;
}
.field {
    display: block;
    margin : 2em auto 1em;
    width  : 90%;
}
input[type="currency"],
input[type="date"],
input[type="email"],
input[type="number"],
input[type="text"] {
    margin: 0 auto 0.2em;
    width : 90%;
}
aside.settings {
    position   : fixed;
    left       : 0;
    top        : 0;
    width      : 98%;
    height     : 100%;
    width      : 300px;
    text-align : center;
    overflow-y : auto;
    overflow-x : hidden;
    user-select: none;
    nav ul {
        width  : 100%;
        margin : 0;
        padding: 0;
    }
    nav li {
        list-style: none;
        display   : inline-block;
        padding   : 1em 0;
        margin    : 0;
        width     : 32%;
        background: $colorDark;
        cursor    : pointer;
        &.active {
            background: $colorMain;
        }
    }
    section {
        padding   : 1em;
        box-sizing: border-box;
    }
    button.delete {
        display: block;
        margin : 2em auto;
    }
    input[type="checkbox"],
    input[type="radio"] {
        &:checked + label {
            color: $colorWhite;
        }
    }
}
main.createForm {
    display    : block;
    margin-left: 320px;
    box-sizing : border-box;
    padding-top: 1em;
    position   : relative;
    height     : 100%;
    h1 {
        text-align: center;
    }
    .form {
        @include shadow(1);
        box-sizing: border-box;
        width     : 90%;
        max-width : 900px;
        margin    : 5% auto 0;
        min-height: 100%;
        padding   : 2em 2em 10em;
        text-align: center;
        &:hover {
            ul[dnd-list] li {
                border-color: $colorSubtle;
            }
        }
        header {
            h2 {
                margin-bottom: 0;
            }
        }
        article {
            form {
                padding-top: 1em;
            }
            margin    : 0 auto;
            text-align: center;
            textarea {
                margin-top: 2em;
            }
        }
    }
}
.fieldSettings {
    label {
        display: inline-block;
    }
    .options {
        max-height: 200px;
        overflow-y: auto;
        input[type="text"] {
            width  : 85%;
            display: inline-block;
        }
        a {
            font-size     : 1.6em;
            vertical-align: middle;
        }
    }
    .customSelect {
        button {
            background: $colorDark;
            &.active {
                color: $colorWhite;
            }
        }
        ul.customSelect {
            color     : $colorWhite;
            background: $colorDark;
            li.customSelect {
                color     : $colorWhite;
                background: $colorDark;
                &.hover {
                    background: $colorMain;
                }
            }
        }
    }
}
/**
 * angular-ui-notification - Angular.js service providing simple notifications using Bootstrap 3 styles with css transitions for animating
 * @author Alex_Crack
 * @version v0.2.0
 * @link https://github.com/alexcrack/angular-ui-notification
 * @license MIT
 */
.ui-notification {
    position          : fixed;
    z-index           : 9999;
    width             : 300px;
    transition        : all ease 0.5s;
    color             : #fff;
    border-radius     : 0;
    background        : #337ab7;
    @include shadow(1);
}
.ui-notification.clickable {
    cursor: pointer;
}
.ui-notification.clickable:hover {
    opacity: 0.7;
}
.ui-notification.killed {
    transition: opacity ease 1s;
    opacity   : 0;
}
.ui-notification > h3 {
    font-size    : 14px;
    font-weight  : bold;
    display      : block;
    margin       : 10px 10px 0;
    padding      : 0 0 5px;
    text-align   : left;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
}
.ui-notification a {
    color: #fff;
}
.ui-notification a:hover {
    text-decoration: underline;
}
.ui-notification > .message {
    margin: 10px;
}
.ui-notification.warning {
    color     : #fff;
    background: #f0ad4e;
}
.ui-notification.error {
    color     : #fff;
    background: #d9534f;
}
.ui-notification.success {
    color     : #fff;
    background: #5cb85c;
}
.ui-notification.info {
    color     : #fff;
    background: #5bc0de;
}
