@import 'components/_starter';

header {
    margin    : 0 auto 2em 0;
    padding   : 8em 0;
    background: $colorMain;
    text-align: center;
    h1 {
        margin: 0.5 auto;
        color : rgba(255,255,255, 0.8);
    }
}
