@import 'components/_forms';
@import 'components/_navigation';
header {
    margin    : 0 auto 2em 0;
    padding   : 7em 0;
    background: $colorMain;
    text-align: center;
    h1 {
        margin: 0.5 auto;
        color : rgba(255,255,255, 0.8);
        font-size: 6em;
    }
}
