@import '_starter';
form {
    padding: 0 0 1em;
    h3 {
        margin     : 1em 0;
        padding    : 0.6em 0;
        background : $colorWhite;
        font-size  : 1.8em;
        font-weight: normal;
        font-family: $sans-serif;
    }
}
label {
    user-select: none;
    margin     : 1em auto 0.4em;
    display    : block;
    &.checkbox {
        display     : inline-block;
        margin-right: 0.2em;
    }
    &.required span::after {
        content       : '*';
        font-weight   : normal;
        font-size     : 0.8em;
        margin        : 0 0.1em;
        color         : $colorError;
        vertical-align: top;
    }
}
input[type="currency"],
input[type="date"],
input[type="email"],
input[type="number"],
input[type="text"],
textarea {
    display      : block;
    padding      : 0.6em;
    margin       : 0 auto 0.3em;
    border-radius: 0.3em;
    border       : 1px solid $colorLight;
    box-sizing   : border-box;
    resize       : none;
    &:active,
    &:focus {
        outline: none;
        border : 1px solid $colorDark;
    }
    &.outline {
        border-radius: 0;
        border       : none;
        border-bottom: 1px solid $colorGrey;
        background   : rgba(0,0,0, 0.05);
        transition   : background 0.2s;
        &:active,
        &:focus {
            outline   : none;
            background: rgba(0,0,0, 0.08);
        }
        &.editable {
            padding  : 0.2em 0.5em;
            font-size: 90%;
        }
    }
    &.error {
        border-color             : #F44336;
        animation-name           : bounce;
        animation-iteration-count: 2;
        animation-duration       : 0.2s;
    }
    &[disabled="disabled"] {
        background: rgba(0,0,0,0.1);
    }
}
textarea {
    min-height: 80px;
}
select {
    margin-left  : auto;
    margin-right : auto;
    margin-bottom: 0.8em;
}
//** custom-select styling **//
.customSelect {
    display : block;
    position: relative;
    button {
        display      : block;
        margin       : 0.5em auto 0.8em;
        border-radius: 0;
        background   : $colorSubtle;
        color        : transparent;
        border       : none;
        padding      : 0.4em 0.6em;
        border-bottom: 1px solid $colorBlack;
        transition   : color 0.3s ease-out;
        span.lnr {
            vertical-align: middle;
            font-size     : 1.2em;
            margin-left   : 0.2em;
        }
        &:hover {
            box-shadow: none;
        }
        &.active {
            color: $colorBlack;
        }
    }
    ul.customSelect {
        display   : inline-block;
        position  : absolute;
        top       : 50%;
        left      : 0;
        right     : 0;
        margin    : 0 auto;
        padding   : 0;
        width     : 100%;
        max-width : 300px;
        transform : translateY(-50%) scale(0);
        transition: transform 0.2s ease-out, opacity 0.1s ease-out;
        background: $colorSubtle;
        opacity   : 0;
        @include shadow(1);
        z-index   : 9000;
        color     : transparent;
        &.active {
            color: $colorBlack;
        }
        li.customSelect {
            list-style: none;
            cursor    : pointer;
            color     : $colorBlack;
            background: $colorSubtle;
            transition: background 0.2s, opacity 0.4s;
            padding   : 0.4em 0.8em;
            display   : block;
            border    : none;
            &:hover {
                background: $colorWhite;
            }
        }
        &.active {
            transform: translateY(-50%) scale(1);
            opacity  : 1;
        }
    }
}
input[type="checkbox"] {
    display: none;
    & + label {
        cursor: pointer;
    }
    & + label:before {
        display      : inline-block;
        content      : ' ';
        width        : 1em;
        height       : 1em;
        margin       : 0 0.3em -0.15em;
        border-radius: 0.2em;
        border       : 1px solid $colorDark;
        color        : $colorWhite;
        cursor       : pointer;
        transition   : all 0.2s ease-out;
        cursor       : pointer;
    }
    &:checked + label {
        font-weight: bold;
        &:before {
            height            : 0.5em;
            width             : 1.2em;
            border-radius     : 0;
            -webkit-transform : rotate(-45deg);
            transform         : rotate(-45deg);
            border-top-color  : transparent;
            border-right-color: transparent;
            margin-bottom     : 0.3em;
        }
    }
    &.light {
        & + label:before {
            border-color: $colorWhite;
        }
        &:checked + label:before {
          border-top-color: transparent;
          border-right-color: transparent;
        }
    }
}
input[type="radio"] {
    transform: scale(0);
    & + label {
        cursor: pointer;
    }
    & + label:before {
        display      : inline-block;
        content      : ' ';
        width        : 1em;
        height       : 1em;
        margin       : 0 0.3em -0.15em;
        border-radius: 50%;
        background   : transparent;
        border       : 1px solid $colorDark;
        cursor       : pointer;
        transition   : all 0.2s ease-out;
        cursor       : pointer;
    }
    &:checked + label {
        font-weight: bold;
        &:before {
            background   : $colorDark;
            height       : 0.9em;
            width        : 0.9em;
            margin-bottom: -0.1em;
        }
    }
    &.light {
        & + label:before {
            border-color: $colorWhite;
        }
        &:checked + label:before {
            background: $colorWhite;
        }
    }
}
