@import "_starter";
body {
    margin: 0 0 100px;
}
nav.top {
    position  : relative;
    margin    : 0;
    width     : 100%;
    box-sizing: border-box;
    padding   : 0.6em 0.2em;
    background: $colorMain;
    .container {
        margin : 0 auto;
        padding: 0;
    }
    .homeLink {
        display       : inline-block;
        vertical-align: middle;
        color         : rgba(255,255,255, 0.8);
        font-size     : 1.6em;
        font-style    : italic;
        font-weight   : bold;
        text-shadow   : 2px 2px 0 $colorDark;
        padding       : 0.2em 0.4em;
    }
    ul {
        position: absolute;
        right   : 0;
        top     : 0;
        padding : 0.6em 0;
        display : inline-block;
        margin  : auto;
        height  : 100%;
    }
    li {
        list-style: none;
        display   : inline-block;
        padding   : 0;
        margin    : 0;
    }
    a {
        color        : $colorWhite;
        padding      : 0.6em 0.8em;
        background   : rgba(0,0,0,0);
        transition   : background-color 0.2s;
        border-radius: 0.2em;
        margin       : 0 0.5em;
        &:hover {
            background-color: rgba(0,0,0,0.3);
        }
    }
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    font-size: 0.8em;
    .container {
      padding: 0;
    }
    h3 {
      margin: 0.3em 0 0;
    }
}
